/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html {
    scroll-behavior: smooth;
}

body {
    background-color: #262E3F;
    font-family: 'Times New Roman', Times, serif;
}